<h2>Ingrese un genero</h2>
<form (ngSubmit)='sendGender()'>
    <label for="bookGender">Ingrese un genero</label><br>
    <input type="text" id="bookGender" name="bookGender" [(ngModel)]="bookGender.nombre"><br>
    <button type="submit">Agregar Genero</button>
</form>
<h2>Borrar un genero</h2>
<form (ngSubmit)='deleteGender()'>
    <label for="genderId">Seleccione un genero</label><br>
    <select id="genderID" name="genderID" [(ngModel)]="bookGender._id">
        <option *ngFor="let gender of genders" [value]='gender._id'>{{gender.nombre}}</option>
    </select><br>
    <button type="submit">Borrar genero</button>
</form>
<h2>Modificar un genero</h2>
<form (ngSubmit)='modificarGenero()'>
    <label for="genderIdPut">Seleccione el genero a modificar</label><br>
    <select id="genderIDPut" name="genderIDPut" [(ngModel)]="bookGender._id">
        <option *ngFor="let gender of genders" [value]='gender._id'>{{gender.nombre}}</option>
    </select><br>
    <label for="bookGenderText">Ingrese la modificación</label><br>
    <input type="text" id="bookGenderText" name="bookGenderText" [(ngModel)]="bookGender.nombre"><br>
    <button type="submit">Modificar genero</button>
</form>